<!DOCTYPE html>
<html>
<head>
  <title>Edit Siswa</title>
</head>
<body>
  <h1>Edit Siswa</h1>
  <form action="/update/<%= siswa.id %>" method="POST">
    <label for="nama">Nama:</label>
    <input type="text" id="nama" name="nama" value="<%= siswa.nama %>" required><br><br>
    <label for="kelas">Kelas:</label>
    <input type="text" id="kelas" name="kelas" value="<%= siswa.kelas %>" required><br><br>
    <button type="submit">Update</button>
    <a href="/">Kembali</a>
  </form>
</body>
</html>
